{% extends "base.html" %}

{% block content %}
<form method="POST" action="{{ url_for('add') }}">
        <div class="form-group">
          <label for="exampleInputEmail1">Date</label>
          <input type="date" class="form-control w-25" name="date">
        </div>

        <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" name="name"  placeholder="Name">
         </div>

         <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="number" class="form-control" name="htm"  placeholder="Htm">
         </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

{% endblock %}