{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
            <a class="btn btn-primary" href="/add" role="button">Add</a>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            
<table class="table table-bordered">
        <thead class="bg-success text-white">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Name</th>
                <th>Htm</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                {% for m in data %}
            <tr>
                <td>{{ m.id }}</td>
                <td>{{ m.date.strftime('%d-%m-%Y')  }}</td>
                <td>{{ m.name }}</td>
                <td class="text-right">{{ "{:,.2f}".format(m.htm) }}</td>
                <th> <a class="btn btn-warning text-white" href="/update/{{m.id}}" role="button">Update</a> 
                    <a class="btn btn-danger" href="/delete/{{m.id}}" role="button">Delete</a> 
                </th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
        </div>
    </div>
{% endblock %}