
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/floating-labels.css') }}" rel="stylesheet">
  </head>

  <body>
    <form class="form-signin" method="POST" action="{{ url_for('Login') }}">     
      {% if error %}
      {{error}}
      {% endif %}
      <div class="form-label-group">
        <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Username" required>
      </div>

      <div class="form-label-group">
        <input type="text" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
      </div>

    
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>
  </body>
</html>
