{% extends "base.html" %}

{% block content %}


<form method="POST" action="/update/{{model.id}}">
    <div class="form-group">
      <label for="exampleInputEmail1">Date</label>
      <input type="date" class="form-control w-25" name="date" value="{{ model.date }}">
      <input type="hidden" class="form-control w-25" name="id" value="{{ model.id }}">
    </div>

    <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" name="name"  placeholder="Name"  value="{{ model.name }}">
     </div>

     <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="number" class="form-control" name="htm"  placeholder="Htm"  value="{{ model.htm }}">
     </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}